[Unit]
Description=sgservice controller Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=root
ExecStart=/usr/bin/sgservice-controller --config-file /etc/sgservice/sgservice-controller.conf

[Install]
WantedBy=multi-user.target
